In [1]:
import sys
sys.path.append('../')

from shopping_assistant.preprocessor import DataPreprocessor

print("✅ Libraries imported successfully!")

2025-09-29 19:36:40.894 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 19:36:40.952
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/xenia/Desktop/Xenia/projects/shopping-assistant/.venv/lib/python3.13/site-packages/ipykernel_launcher.py [ARGUMENTS]
2025-09-29 19:36:40.952 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 19:36:40.952 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

✅ Libraries imported successfully!

In [2]:
raw_data_path = "../data/FashionDataset.csv"
preprocessor = DataPreprocessor(raw_data_path)
preprocessor.process()
preprocessor.save("../data/clean_fashion_data.csv")

In [9]:
preprocessor.processed_data.describe()

                mrp    sell_price      discount   sizes_count    product_id
count  22550.000000  29575.000000  22550.000000  30758.000000  30758.000000
mean      25.123916     18.275274     44.894856      3.289421  15378.500000
std       22.063507     28.968282     15.023121      3.062683   8879.214126
min        1.420000      0.700000      0.000000      0.000000      0.000000
25%       13.290000      7.120000     30.000000      1.000000   7689.250000
50%       18.990000     11.490000     50.000000      4.000000  15378.500000
75%       29.440000     19.660000     55.000000      5.000000  23067.750000
max      313.450000   1353.750000     85.000000     61.000000  30757.000000

In [11]:
# let's look at the nan values
preprocessor.processed_data.isna().sum()

brand               0
details             0
sizes               0
mrp              8208
sell_price       1183
discount         8208
category            0
sizes_count         0
material        15197
fit             27719
neck_type       23383
pattern         16929
garment_type    19488
price_range         0
product_id          0
dtype: int64

In [13]:
preprocessor.processed_data.details.sample(20).to_list()

['Nan',
 'printed v-neck viscose womens regular fit night dress - blue',
 'turquoise sequins and zari embroidery yoke straight kurta with gota work sleeves - blue',
 'Nan',
 'printed rayon blend mandarin womens salwar kurta dupatta set - coral',
 'floral polyester round neck womens fit and flare top - multi',
 'leaf of faith earrings in gold plated 925 silver',
 'Nan',
 'womens sheath fit v neck check flared jumpsuit - black',
 'solid satin cowl neck womens regular fit nightie - pearl',
 'printed polyester v neck womens dress - black',
 'polyurethane round toe womens casual ballerinas - navy',
 'printed round neck modal womens anarkali kurta - red',
 'solid cotton mid thigh womens night wear shorts - pale yellow',
 'printed round neck cotton blend womens calf length kurta - ecru',
 'womens cotton non-padded non-wired animal print bra - pink',
 'synthetic womens casual wear sandals - purple',
 'dyed v-neck polyester womens regular dress - black',
 'printed rayon round neck womens shirt top - mustard',
 'checks polyester womens formal jacket - mid blue']