In [1]:
import sys
sys.path.append('../')

from shopping_assistant.preprocessor import DataPreprocessor

%load_ext autoreload
%autoreload 2

print("✅ Libraries imported successfully!")

2025-09-29 20:36:47.437 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 20:36:47.489
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/xenia/Desktop/Xenia/projects/shopping-assistant/.venv/lib/python3.13/site-packages/ipykernel_launcher.py [ARGUMENTS]
2025-09-29 20:36:47.490 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-09-29 20:36:47.490 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

✅ Libraries imported successfully!

In [2]:
raw_data_path = "../data/FashionDataset.csv"
preprocessor = DataPreprocessor(raw_data_path)
preprocessor.process()
preprocessor.save("../data/clean_fashion_data.csv")
df = preprocessor.processed_data

In [3]:
df.columns

Index(['details', 'sizes', 'mrp', 'mrp', 'sell_price', 'discount_pct', 'sizes',
       'sizes_count', 'brand', 'category', 'color_family', 'product_type',
       'price_range', 'product_id'],
      dtype='object')

In [4]:
df.describe()

                mrp    sell_price  discount_pct   sizes_count    product_id
count  22550.000000  29575.000000  22550.000000  30758.000000  30758.000000
mean      25.123916     18.275274     44.894856      0.861174  15378.500000
std       22.063507     28.968282     15.023121      1.781084   8879.214126
min        1.420000      0.700000      0.000000      0.000000      0.000000
25%       13.290000      7.120000     30.000000      0.000000   7689.250000
50%       18.990000     11.490000     50.000000      0.000000  15378.500000
75%       29.440000     19.660000     55.000000      0.750000  23067.750000
max      313.450000   1353.750000     85.000000     17.000000  30757.000000

In [5]:
# let's look at the nan values
df.isna().sum()

details            0
sizes              0
mrp                0
mrp             8208
sell_price      1183
discount_pct    8208
sizes              0
sizes_count        0
brand              0
category           0
color_family    3333
product_type    7150
price_range        0
product_id         0
dtype: int64

In [6]:
df.loc[df.color_family.isna(), "details"].sample(5).to_list()

['solid collar polyester womens regular fit dress - berry',
 'womens angelic bracelet',
 'Nan',
 'Nan',
 'solid crepe regular neck womens regular dress - wine']

In [19]:
df.occasion.value_counts()

occasion
casual         3115
festive        1853
ethnic         1010
party           341
sports          311
western         214
formal          205
everyday         81
vintage          70
traditional      46
modern           12
wedding           6
Name: count, dtype: int64